@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 450px;
    height: 450px;
    margin: 150px auto;
    border-radius: 90px;
    position: relative;
    padding: 25px;
}


.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

#meunome {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}

#descricao {
    font-family:'Poppins', sans-serif;
    text-align: center;
    color: whitesmoke;
    align-items: center;
}


#creditos {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}


.circle {
    display: flex;
    background-color: #aaa;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
  }

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone{
    width: 10%;
    color: white;
    
}

.titulos {
    font-family: poppins;
    color: white;
}

#exp {
    display: flex;
    align-items: center;
    gap: 15px;
}

#acad {
    display: flex;
    align-items: center;
    gap: 15px;
}

#conteudo {
    margin-top: 70px;
    height: 20%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#exp-text {
    color: white;
    font-family: poppins;
    font-size: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    justify-content: space-evenly;
}

#acad-text {
    color: white;
    font-family: poppins;
    font-size: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    justify-content: space-evenly;
    text-align: center;
}

#home{
    margin-left: 175px;
        width: 40px;
}


h6 {
    color: white;
    font-family: poppins;
    margin-bottom: 50px;
    text-align: center;
}

























body {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	/*min-height: calc(100vh - 2rem);*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

body::before, 
body::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
	.st0{display:none;}
	.st1{display:inline;}
	.st2{opacity:0.29;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st5{clip-path:url(#SVGID_4_);}
	.st6{clip-path:url(#SVGID_6_);}
	.st7{clip-path:url(#SVGID_8_);}
	.st8{clip-path:url(#SVGID_10_);}
	.st9{fill:none;}
	.st10{clip-path:url(#SVGID_12_);}
	.st11{opacity:0.7;}
	.st12{clip-path:url(#SVGID_14_);}
	.st13{opacity:0.2;}
	.st14{clip-path:url(#SVGID_16_);}
	.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}